@charset "UTF-8";
    body{
        height: 100vh; /*Aqui temops que ele vai alinha na tela toda a imagem, mas temos que ele irá distorcer a imagem quando for maior e menor o monitor do cliente*/
        background-color: black;
        background-image: url(imagens/wallpaper002.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover; /*Aumenta e diminui a imagem de acordo com o tamanho da tela*/
        /*
        contain - deixa as laterais com faixas pretas
        cover - vai adaptando a imagem de acordo com a tela sem picotar a imagem
        auto- diminuiu e aumenta de acordo com a tela que está sendo usada
        */
        background-attachment: fixed; /*Aqui vamos fixar a imagem na tela pelo comando fixed e ele vai rolar apenas o texto, assim a imagem de fundo fica fixo ou vamos colocar ela como cover*/

        /*Shorhands --> background
        color> image > position > repeat > [size] > attachment
        
        sendo assim a abreviação: o size não irá funcionar por
        background: black url(imagens/wallpaper002.jpg) center center no-repeat cover fixed;
        */
        
    }
    main{
        background-color: rgb(188, 211, 233);
        max-width: 400px;
        padding: 10px;
        margin: auto;
        border: 1px solid darkblue;
        border-radius: 15px;
      
    }
